<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARS BARS!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">MARS</h1>
    <div>
      <ul style="list-style: none;">
        {% for marsObj in marsInfoDb %}
        <h1>{{ marsObj.Title }}:</h1>
        <br>
        <h3>{{ marsObj.Paragraph }}</h3>
        <br>
        <br>
        <h4>Tweet from SPAAAAAAAAAACE
          <br>
          {{marsObj.Tweet}}
        </h4>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            {{ marsObj.Table|safe  }}
          </div>
          <div class="col-md-4">
            <li><img src={{ marsObj.Image }}></li>
          </div>
        </div>

        {% endfor %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>The Hemis of Earth</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src={{ hemisphere_image_urls[0].img_url}}>
        <h3>{{hemisphere_image_urls[0].title}}</h3>
      </div>
      <div class="col-lg-6">
        <img src={{ hemisphere_image_urls[1].img_url}}>
        <h3>{{hemisphere_image_urls[1].title}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img src={{ hemisphere_image_urls[2].img_url}}>
        <h3>{{hemisphere_image_urls[2].title}}</h3>
      </div>
      <div class="col-lg-6">
        <img src={{ hemisphere_image_urls[3].img_url}}>
        <h3>{{hemisphere_image_urls[3].title}}</h3>
      </div>
    </div>

    </ul>
  </div>
  </div>
</body>

</html>